framework: auto-detect
source https://www.nuget.org/api/v2

nuget FluentAssertions >= 4.19.4
nuget OneOf >= 2.1.108
nuget Microsoft.NET.Test.Sdk >= 15.5.0
nuget NUnit >= 3.9.0
nuget NUnit3TestAdapter >= 3.9.0
nuget FAKE 5.0.0-beta010
