framework: auto-detect

source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

//Main
nuget FluentAssertions !~> 5.1 >= 5.1.2
nuget OneOf !~> 2.1 >= 2.1.127
nuget OneOf.Extended !~> 2.1 >= 2.1.127
nuget OneOf.ROP !~> 0.1 >= 0.1.2

// Testing
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter

// [ Fake Group ]
group build-deps
    source https://api.nuget.org/v3/index.json
    nuget Fake.Core.Target
    nuget Fake.Core.SemVer
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Nuget


